<div id="container">

  <div class="title"><h1>Meowtown 2</h1></div>

  <form action="/images" method = "get">
  <select name="species" multiple>
  <option value ="pug">Pugs</option>
  <option value ="sloth">Sloths</option>
  <option value ="cat">Cats</option>
  </select>
  <input type="submit">
  </form>
    {{!-- <ul>
      <button type = "radio">Happy</button>
      <button type = "radio">Cute</button>
      <button type = "radio">Sad</button>
      <button type = "radio">Hungry</button>
      <button type = "radio">Flawless</button>
    </ul> --}}
  </nav>

  {{!-- <div id="animalnames">
    <div class="animals">
      <ul>
        {{#each animal}}
          <li>{{name}}</li>
          <li>{{image}}</li>
        {{/each}}
      </ul>
    </div>
  </div> --}}

</div>

