<div class="container">
    {{#each animals}}
    <img src="{{image}}" alt="y'all mind if I hit that yeet" class="image">
    {{/each}}
</div>
<a href="#" class="float">
{{!-- <i class="fa fa-envelope my-float"></i> --}}
</a>
<div class="label-text">
<div class="label-text">I'm Done</div>
{{!-- <i class="fa fa-play label-arrow"></i> --}}
</div>
