<a href="/done" title="exits images" class="button-text"><button class='done'>I am done</button><a></a>
<div class="container">
    {{#each animals}}
    <img src="{{image}}" alt="default: harrisonaddin" class="image">
    {{/each}}
</div>
